[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "filament"]
	path = filament
	url = https://github.com/google/filament/
[submodule "ozz-animation"]
	path = ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
